
<h3 align="right" *ngIf="user" class="user">Hello, {{user.username}}</h3>

<nav *ngIf="user">
  <a class="nav_item" routerLink="/{{user.username}}/browse">Browse Products</a>
  <a class="nav_item" routerLink="/{{user.username}}/addremove" *ngIf="isAdmin()">Add/Remove Products</a>
  
  <div class="shoppingCart">
    <a class="nav_item" id="outLog" routerLink="/login">Log Out</a>
    <a id="cart" routerLink="/{{user.username}}/shopping-carts" *ngIf="isNotAdmin()">
        <img src="../../assets/cartIcon.png" alt="Shopping cart icon" id="cartIcon">
    </a>
  </div>
</nav>

<div class="search" *ngIf="user">
    <app-jersey-search></app-jersey-search>
</div>

<!-- <h2>All Products</h2> -->

<div *ngIf="user" id="browse">
    <ul class="jerseys">
        <li *ngFor="let jersey of jerseys">
            <div id="jersey">
                <a routerLink="/{{user.username}}/view/{{jersey.id}}">
                    <div id="browseAuto">
                        <img id="browseImg" width="225px" height="300px" src="{{jersey.imageUrl}}" alt="Displays an image of jersey">
                        <p [hidden]="auto(jersey.imageUrl)" id="{{jersey.color}}-name-browse">{{jersey.name}}</p>
                        <p [hidden]="auto(jersey.imageUrl)" id="{{jersey.color}}-number-browse">{{jersey.number}}</p>
                    </div>
                </a>
                <!-- id is used to disable button -->
                <div id="addCart">
                    <p id="jerseyInfo">#{{jersey.number}} {{jersey.name}}</p>
                    <button type="button" class="add" title="add jersey"  id = "jersey_id {{jersey.id}}" 
                        (click)="addToCart(user.username, jersey)" *ngIf="isNotAdmin() && jersey.quantity > 0">Add to Cart</button>
                    <p [hidden]="jersey.quantity > 0" id="stock">Out of Stock</p>
                    <p [hidden]="jersey.quantity > 3 || jersey.quantity==0" style="color:gold;" *ngIf="isAdmin()">&#9888;You need to restock,<br>there are only {{jersey.quantity}} jerseys left</p>
                    <p [hidden]="jersey.quantity > 3 || jersey.quantity==0" style="color:gold;" *ngIf="isNotAdmin()">&#9888;There are only {{jersey.quantity}} jerseys left</p>
                </div>
            </div>
        </li>
    </ul>
</div>


