
<h3 align="right" *ngIf="user" class="user">Hello, {{user.username}}</h3>

<nav *ngIf="user">
  <a class="nav_item" routerLink="/{{user.username}}/browse">Browse Products</a>
  <a class="nav_item" routerLink="/{{user.username}}/addremove">Add/Remove Products</a>
  <a class="nav_item" id="outLogAdmin" routerLink="/login">Log Out</a>
</nav>

<h2 class="header">Add/Remove Products</h2>

<div class="search" *ngIf="user" id="ars">
  <app-jersey-search></app-jersey-search>
</div>

<div id="add">
    <h3 class="heading" id="create"> Create New Jersey</h3>
    <label for="new-jersey">Jersey name: </label>
    <input id="new-jersey" #jerseyName />
    <br>
    <label for="new-jersey-color">Jersey color: </label>
    <select id="new-jersey-color" #jerseyColor>
      <option value="RED">Red</option>
      <option value="WHITE">White</option>
    </select>
    <br>
    <label for="new-jersey-size">Jersey size: </label>
    <select id="new-jersey-size" #jerseySize>
      <option value="SMALL">Small</option>
      <option value="MEDIUM">Medium</option>
      <option value="LARGE">Large</option>
      <option value="X_LARGE">X Large</option>
      <option value="XX_LARGE">2X Large</option>
    </select>
    <br>
    <label for="new-jersey-price">Jersey price: </label>
    <input id="new-jersey-price" #jerseyPrice />
    <br>
    <label for="new-jersey-number">Jersey number: </label>
    <input type="number" id="new-jersey-number" #jerseyNumber />
    <br>
    <label for="new-jersey-quantity">Jersey quantity: </label>
    <input id="new-jersey-quantity" type="number" #jerseyQuantity />
    <br>
    <label for="new-image-upload">Jersey Image (optional): </label>
    <input id="new-image-upload" type="text" list="stored-images" #jerseyImageUrl />
    <datalist id="stored-images">
      <option value="Audi.jpg">Audi</option>
      <option value="Germaine.jpg">Germaine</option>
      <option value="Hurts.jpg">Hurts</option>
      <option value="Manson.jpg">Manson</option>
      <option value="Munson.jpg">Munson</option>
      <option value="Pogacar.jpg">Pogacar</option>
      <option value="Thomas.jpg">Thomas</option>
      <option value="Trash.jpg">Trash</option>
      <option value="VanAert.jpg">Van Aert</option>
    </datalist>
</div>
<div id="btn" >
    <button
    type="button"
    class="add-button"
    label="Add"
    (click)="add(jerseyName.value, jerseyNumber.value, jerseyPrice.value, jerseySize.value, jerseyColor.value, jerseyQuantity.value, jerseyImageUrl.value);
            jerseyName.value=''; jerseyNumber.value=''; jerseyPrice.value=''; jerseySize.value=''; jerseyColor.value=''; jerseyQuantity.value=''; jerseyImageUrl.value=''">
    ADD
    </button>
</div>

<div id="deletion">
    <h3 class="heading" id="delete"> Delete Jerseys</h3>
    <ul class="jerseys" id="delJersey">
        <li *ngFor="let jersey of jerseys">
          <div id="browseDel">
            <img id="cartImg" width="225px" height="300px" src="{{jersey.imageUrl}}" alt="Displays an image of jersey">
            <p [hidden]="auto(jersey.imageUrl)" id="{{jersey.color}}-name-del">{{jersey.name}}</p>
            <p [hidden]="auto(jersey.imageUrl)" id="{{jersey.color}}-number-del">{{jersey.number}}</p>
          </div>
          <p>ID: {{jersey.id}}<br>{{jersey.name | titlecase}}<br>
          <button type="button" class="delete" title="delete jersey"
              (click)="delete(jersey)">DELETE</button>
          </p>
        </li>
    </ul>
</div>

