
<h3 align="right" *ngIf="user" class="user">Hello, {{user.username}}</h3>

<nav *ngIf="user">
  <a class="nav_item" routerLink="/{{user.username}}/browse">Browse Products</a>
  <a class="nav_item" routerLink="/{{user.username}}/addremove" *ngIf="isAdmin()">Add/Remove Products</a>

  <div class="shoppingCart">
    <a class="nav_item" id="outLog" routerLink="/login">Log Out</a>
    <a id="cart" routerLink="/{{user.username}}/shopping-carts" *ngIf="isNotAdmin()">
        <img src="../../assets/cartIcon.png" alt="Shopping cart icon" id="cartIcon">
    </a>
  </div>
</nav>

<div *ngIf="jersey">
  <!-- <img id="detailImg" src="{{jersey.imageUrl}}"> -->
  <div class="image">
    <img id="detailImg" src="{{jersey.imageUrl}}" [alt]="altInfo">
    <p [hidden]="isAddedImage()" id="{{jersey.color}}-name">{{jersey.name}}</p>
    <p [hidden]="isAddedImage()" id="{{jersey.color}}-number">{{jersey.number}}</p>
    <div [hidden]="!isAddedImage()" id="space"></div>
  </div>
  <div class="details">
    <h2 id="specific" >#{{jersey.number}} {{jersey.name}}</h2>
  
    <h3 id="priced" >{{jersey.price | currency}}</h3>
    <p id="deets" >Size: {{jersey.size | titlecase}}</p>
    <p id="deets" >Color: {{jersey.color | titlecase}}</p>
    <p id="deets" >In Stock: {{jersey.quantity}}</p>
    <!-- <img src="{{jersey.imageUrl}}" [alt]="altInfo" width="300px"> -->
  </div>
  <div class="updates" *ngIf="isAdmin()">
    <h3>Update Jersey:</h3>
    <label for="update-name">Update name: </label>
    <input id="update-name" [(ngModel)]="jersey.name" placeholder="name"/>
    <br>
    <label for="update-number">Update number: </label>
    <input type="number" id="update-number" [(ngModel)]="jersey.number" placeholder="number"/>
    <br>
    <label for="update-price">Update price: </label>
    <input id="update-price" [(ngModel)]="jersey.price" placeholder="price"/>
    <br>
    <label for="update-size">Update size: </label>
    <select id="update-size" [(ngModel)]="jersey.size" placeholder="size">
      <option value="SMALL">Small</option>
      <option value="MEDIUM">Medium</option>
      <option value="LARGE">Large</option>
      <option value="X_LARGE">X Large</option>
      <option value="XX_LARGE">2X Large</option>
    </select>
    <br>
    <label for="update-color">Update color: </label>
    <select id="update-color" [(ngModel)]="jersey.color" placeholder="color">
      <option value="RED">Red</option>
      <option value="WHITE">White</option>
    </select>
    <br>
    <label for="update-quantity">Update quantity: </label>
    <input id="update-quantity" type="number" [(ngModel)]="jersey.quantity" placeholder="quantity">
    <br>
    <label for="update-image">Update jersey image (null for none): </label>
    <input id="update-image" type="text" list="stored-images" [(ngModel)]="jersey.imageUrl" placeholder="null"/>
    <datalist id="stored-images">
      <option value="Audi.jpg">Audi</option>
      <option value="Germaine.jpg">Germaine</option>
      <option value="Hurts.jpg">Hurts</option>
      <option value="Manson.jpg">Manson</option>
      <option value="Munson.jpg">Munson</option>
      <option value="Pogacar.jpg">Pogacar</option>
      <option value="Thomas.jpg">Thomas</option>
      <option value="Trash.jpg">Trash</option>
      <option value="VanAert.jpg">Van Aert</option>
    </datalist>
  </div>
  <div class="buttons">
    <button type="button" (click)="save()" *ngIf="isAdmin()==true">Save Changes</button>
    <button type="button" (click)="goBack()">Back to Products</button>

    <button style="margin-left: 5px;" type="button" class="add" title="add jersey" id = "jersey_id {{jersey.id}}" 
      (click)="addToCart(user.username, jersey)" *ngIf="isNotAdmin() && jersey.quantity > 0">Add to Cart</button>
  </div>
</div>

